<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="img">
<script th:src="@{/static/bootstrap-fileinput/js/fileinput.min.js}" type="text/javascript"></script>
<script th:src="@{/static/bootstrap-fileinput/js/locales/zh.js}" type="text/javascript"></script>
    <link  th:href="@{/static/bootstrap-fileinput/css/fileinput.min.css}" rel="stylesheet"/>
    <form enctype="multipart/form-data">
    <label>图片上传(图片将自动插入编辑器)</label>
    <div class="file-loading">
        <input id="img-zh" name="file" type="file" multiple>
    </div>
    </form>
<script>
    $(function () {
        //0.初始化fileinput
        var oFileInput = new FileInput();
        oFileInput.Init("img-zh", "/api/imgupload");
    })
    var FileInput = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function(ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 5, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });

            //导入文件上传完成之后的事件
            $("#img-zh").on("fileuploaded", function (event, data, previewId, index) {
                window.tinymce.get('music').insertContent("<img class=\"img-responsive\" src="+ data.response.data.url+">")
            });
        }
        return oFile;
    };
</script>
</div>

<div th:fragment="img-fm">
    <form enctype="multipart/form-data">
        <label>封面上传(只存在一张哦，后传的会覆盖前面的)</label>
        <div class="file-loading">
            <input id="img_fm-zh" name="file" type="file" multiple>
        </div>
    </form>
    <script>
        let contentImg = '';
        $(function () {
            const oFileInput = new imgfmInput();
            oFileInput.Init("img_fm-zh", "/api/imgupload");
        })
        const imgfmInput = function () {
            const oFile = new Object();
            oFile.Init = function(ctrlName, uploadUrl) {
                const control = $('#' + ctrlName);
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                    showUpload: true, //是否显示上传按钮
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 1000,//图片的最大宽度
                    //maxImageHeight: 1000,//图片的最大高度
                    //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    maxFileCount: 1, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount:true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                });

                $("#img_fm-zh").on("fileuploaded", function (event, data, previewId, index) {
                    contentImg = data.response.data.url;
                    // console.log(contentImg)
                });
            }
            return oFile;
        };
    </script>
</div>

<div th:fragment="music">
    <form enctype="multipart/form-data">
        <label>音乐上传(超过一个音乐将插入编辑器，但在编辑器不可预览，点击<span class="glyphicon glyphicon-eye-open"></span>进行预览)</label>
        <div class="file-loading">
            <input id="music-zh" name="file" type="file">
        </div>
    </form>
    <script>
        var contentMusic = '';
        $(function () {
            var oFileInput = new musicInput();
            oFileInput.Init("music-zh", "/api/musicupload");
        })
        var musicInput = function () {
            var oFile = new Object();
            oFile.Init = function(ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);
                control.fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: uploadUrl, //上传的地址
                    allowedFileExtensions: ['ogg', 'mp3'],//接收的文件后缀
                    showUpload: true, //是否显示上传按钮
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 1000,//图片的最大宽度
                    //maxImageHeight: 1000,//图片的最大高度
                    //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    maxFileCount: 1, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount:true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                });

                $("#music-zh").on("fileuploaded", function (event, data, previewId, index) {
                    if(contentMusic!=''){
                        window.tinymce.get('music').insertContent("<audio src="+data.response.data.url+" controlsList=\"nodownload\" controls=\"controls\">\n" +
                            "        肥肠抱歉，您的浏览器不支持audio音频播放！请考虑更换浏览器！\n" +
                            "    </audio>")
                    }
                    contentMusic = data.response.data.url;
                });
            }
            return oFile;
        };
    </script>
</div>
</body>
</html>