<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>普通人口琴 | 欢迎</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >
    <link rel="shortcut icon" th:href="@{/static/img/body-img/other/bitbug_favicon.ico}" type="image/x-icon" />
</head>
<body>
<div class="container wrapper">
    <div th:include="common/navbar::navbar"></div>
    <div  class="row">
        <div class="col-md-8 column">
            <div id="musicList" class="row" >
                <div th:if="${musiclist} == null" style="text-align: center">
                    <strong>服务端未响应</strong>
                </div>
                <div th:else th:each="item:${musiclist}" class="col-md-12 column  music_info">
                    <div class="thumbnail touming show_red">
                        <div class="caption" style="text-align: center">
                            <div class="thumbnail touming team-grids">
                                <a href='javascript:void(0)' th:onclick='musicDetail([[${item?.id}]])'>
                                    <img th:src="${item?.contentImg}" alt="图片加载失败了" class="img-responsive" style="height: 380px">
                                    <div class="capth">
                                        <h4 th:text="${item?.title}" class="span_title"></h4>
                                        <div><span class="span_info">&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<span th:text="${item.authorName}"></span></span>
                                            <span class="span_info">&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;<span th:text="${item.createTime}"></span></span></div>
                                        <p th:text="${item?.contentShort}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 column hidden-xs hidden-sm">
            <div id="fixed">
                <div th:include="common/search::search('')"></div>
                <div th:include="common/login::login"></div>
                <div th:include="common/login::tips"></div>
                <div style="display: none;text-align: center" id="img_loading">
                <div th:include="common/loading::p5"></div>
                </div>
            </div>
            <div class="tips">

            </div>
        </div>
        </div>
    <a href="javascript:void(0)" class="back_to_top toTop_img btn-lg" >
        <span class="glyphicon glyphicon-circle-arrow-up" style="color: rgb(96,96,96); font-size: 53px;"></span>
    </a>
    <div class="ba_info">
        备案/许可证编号 | <a href="http://www.miitbeian.gov.cn/" class="ba_text">粤ICP备19037341号</a>
    </div><br>
    </div>
</div>
<div th:include="common/backgroundimg::backGroundImg"></div>
</body>
<script>
    //一键页面置顶start
    var backButton=$('.back_to_top');
    function backToTop() {
        $('html,body').animate({
            scrollTop: 0
        }, 800);
    }
    backButton.on('click', backToTop);

    $(window).on('scroll', function () {/*当滚动条的垂直位置大于浏览器所能看到的页面的那部分的高度时，回到顶部按钮就显示 */
        if ($(window).scrollTop() > $(window).height())
            backButton.fadeIn();
        else
            backButton.fadeOut();
    });
    $(window).trigger('scroll');/*触发滚动事件，避免刷新的时候显示回到顶部按钮*/
    //一键页面置顶over


    //鼠标滚动到页面最底部加载数据
    var documentHeight = [0];
    var pageStart = 2;
    var music_info = $('#fixed');//下滑时div不下滑
    var music_info_top = music_info.offset().top;//元素到页面顶部的距离
    $(window).bind("scroll",function() {
        if($(document).scrollTop() + $(window).height() > $(document).height()-50){
            documentHeight.push($(document).height())
            if(documentHeight[documentHeight.length-1]>documentHeight[documentHeight.length-2]){
                documentHeight[documentHeight.length-2] = documentHeight[documentHeight.length-2] + documentHeight[documentHeight.length-1];
                // console.log("我在底部")
                $('#img_loading').css("display","block")
                getMoreData();
                pageStart++
            }
        }else{
            // console.log("我bu在底部")
        }
        // 窗口置顶
        if($(document).scrollTop() > music_info_top){
            music_info.addClass("fixed");
            $(".tips").css("display","none")
        }else{
            music_info.removeClass("fixed");
            $(".tips").css("display","block")
        }
    })
    function getMoreData() {
        var url = "/music/musiclist"
        var data = {"pageStart":pageStart,"rows":5}
        listMusic(url,data);
    }
</script>
</html>
