<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${music.title}">我只想静静的吹口琴</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >
</head>
<body>
<div class="wrapper" id="drop">
<div class="container">
    <div th:include="common/navbar::navbar"></div>
            <div class="row clearfix">
                <div class="col-md-8 column" >
                    <div class="panel panel-primary">
                        <div class="panel-body" id="music_content">
                            <span th:utext="${music.content}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div id="fixed">
                    <div class="panel panel-primary touming" id="music_s" >
                        <div class="panel-heading" id="music_title">
                            <h3 class="panel-title" th:text="${music.title}">

                            </h3>
                        </div>
                        <div class="panel-body">
                            <span>作者：<a href="url?author_account="><span th:text="${music.authorName}"></span></a></span><br/>
                            <span>创建时间：<span th:text="${music.createTime}"></span></span><br/>
                            <span>修改时间：<span th:text="${music.updateTime}"></span></span><br/>
                            <span>修改人：<span th:text="${music.lastAuthor}"></span></span><br/>
                            点此DIV标题可拖拽<br/>
                            <!--copy-1-->
                                    <div class="col-md-12 column">
                                       <div th:include="common/musicplay::musicPlay(${music.contentMusic})"></div>
                                    </div>
                            <!--copy-2-->
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div th:include="common/backgroundimg::backGroundImg"></div>
<!--视频效果-->
<!--<video poster="/static/js/vidbacking/preview.jpg" autoplay muted loop class="vidbacking">-->
    <!--<source th:src="@{/static/js/vidbacking/12.28.mp4}" type="video/mp4">-->
<!--</video>-->
<!--js特效-->
<!--<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>-->
</body>
<script th:src="@{/static/js/Tdrag.min.js}" type="text/javascript"></script>
<script th:src="@{/static/js/vidbacking/jquery.vidbacking.js}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $("#music_s").Tdrag({
            // scope:"#drop",
            handle:"#music_title"
        });
        // $('body').vidbacking({
        //     'masked': true
        // });
    })
    $(document).onload(function () {
        $("#music_s")
    })
</script>
<style>
    span p {
        font-family: "宋体","仿宋",sans-serif;
        font-size:150%;
        font-style: normal;
    }
    .touming{
        background-color:rgba(255, 255, 255, 0.5);
    }
    .panel-body span{
        font-family: "宋体","仿宋",sans-serif;
        font-size:120%;font-style: normal;
    }
</style>
</html>
