<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>普通人口琴 | Register</title>
    <link rel="shortcut icon" th:href="@{static/img/body-img/other/bitbug_favicon.ico}" type="image/x-icon" />
    <!--制作的图标，使用href关联，仅仅需要更改href的内容  -->
</head>
<body>
<div class="container wrapper">
    <div th:include="common/navbar::navbar"></div>
    <div  class="row">
        <div class="col-md-8 column text-center">
            <h3>欢迎注册</h3>
            <form id="register_form" class="m-t" role="form" onsubmit="return false" action="/api/register" method="post">
                <div class="form-group">
                    <input type="text" class="form-control regiest_input" placeholder="账号" name="account" required="required" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control regiest_input" placeholder="密码" name="password" required="required" autocomplete="off"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control regiest_input" placeholder="昵称" name="name" required="required" autocomplete="off"/>
                </div>
                <button type="submit" onclick="register()" class="btn btn-primary block full-width m-b">注  册</button>
            </form>
        </div>
        <div class="col-md-4 column hidden-xs">
            <div id="fixed">
                <br><br>
                <div th:include="common/login::register_tips"></div>
            </div>
        </div>
        <script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="99" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    </div>
</div>
<script th:inline="javascript">
    var error = [[${error}]];
    $(document).ready(function () {
        if(error!=null){
            swal({
                title : "温馨提示",
                text : error
            });
        }
    });
</script>
<script>
    function register() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/api/register" ,
            data: $('#register_form').serialize(),
            success: function (result) {
                console.log(result);
                if(result.code == 400) {
                    swal({
                        title: result.message,
                        timer: 3000,
                        icon: "error",
                        allowOutsideClick : true
                    });
                }
                if(result.code == 200) {
                    swal({
                        title: result.data,
                        text: "正在前往首页登录！",
                        icon:  "success",
                        timer: 3000,
                        allowOutsideClick : true
                    });
                    setTimeout(function () {
                        window.location.href = '/'
                    }, 3000)
                }
            },
            error : function() {
                swal({
                    title: "对不起，发生了请求错误",
                    text: "正在竭力抢修！",
                    icon:  "error",
                    timer: 2000,
                    allowOutsideClick : true
                });
            }
        });
    }
</script>
<style>
    .regiest_input{
        background-color: transparent;
    }
</style>
</body>

</html>
